#SetTimerC8051F410, #ResultTimerC8051F410, #SetAdcC8051F410, #GenerateTimerOverFlowFromRestrictions, #SetUARTFromRestrictions, #InterruptCode, #SetUARTC8051F410, #ResultUARTC8051F410, #SetTimerModule, #DeleteTimer1Usage, #ResultAdcC8051F410, #SetADCFromRestrictions {
  display: none;
}

#GenerateTimerOverFlowFromRestrictionsLabel, #SetUARTFromRestrictionsLabel, #SetADCFromRestrictionsLabel {
  text-decoration: underline;
}

#GenerateTimerOverFlowFromRestrictionsLabel:hover, #SetUARTFromRestrictionsLabel:hover, #SetADCFromRestrictionsLabel:hover {
  background-color: #A5A5A5;
}

#Settings > label {
  text-align: right;
  clear: both;
  float:left;
  margin-right:15px;
}
