#timer_application_form_div, #uart_application_form_div, #adc_application_form_div, #timer_application_settings, #uart_application_settings, #adc_application_settings {
  display: none;
}

#Settings > label {
  text-align: right;
  clear: both;
  float:left;
  margin-right:15px;
}

.navbar-default {
  background: #cfd8dc !important;
}
.col-form-label {
  padding-top: 7px !important;
}
.rest {
  margin: 20px 0 10px 0 !important;
}
.unit {
  text-align: right;
}
input {
  margin: 5px 0 !important;
}

select {
  margin: 5px 0 !important;
}