#SetTimerC8051F410, #ResultTimerC8051F410, #SetAdcC8051F410, #GenerateTimerOverFlowFromRestrictions, #InterruptCode{
  display: none;
}

#GenerateTimerOverFlowFromRestrictionsLabel {
  text-decoration: underline;
}

#GenerateTimerOverFlowFromRestrictionsLabel:hover {
  background-color: #A5A5A5;
}

#Settings > label {
  text-align: right;
  clear: both;
  float:left;
  margin-right:15px;
}
